header {
    height: 116px;
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
}

header svg {
    width: 171px;
}